.main{
    margin: 0;
    padding: 0;
    text-align: center;
}
.display{
    margin: 0;
    padding: 0;
    text-align: center;
}


.input {
    text-align: center;
}
.body{
    text-align: center;
}